.GameBoard {
  margin: 0 auto 100px;
  max-width: 1000px;
  height: 420px;
  display: flex;
  justify-content: space-between;
}

.pick-title {
  color: white;
  font-size: 3rem;
}

.user-pick,
.house-pick {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user-pick-option .Board-item {
  margin: 50px 0 0;
  width: 280px;
  height: 280px;
}

.user-pick-option .Board-item .item-container img {
  width: 100px;
}

.house-pick-option {
  margin: 25px 0;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #19254e;
  border-radius: 50%;
  border-bottom: 8px solid #0c1225;
}

.house-pick-option img {
  width: 60%;
}

.glow,
.brain-thinking {
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.glow {
  animation-name: glow;
}

.brain-thinking {
  animation-name: brainThinking;
}

/* ESTILOS DE GANADOR */

.win .Board-item {
  animation: 1s ease 0s 1 normal forwards running winner;
}

.lose .Board-item {
  animation: 1s ease 0s 1 normal forwards running loser;
}

.play-again {
  margin-top: 100px;
  align-self: center;
  text-align: center;
  width: 240px;
}

.play-again h1 {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: white;
  font-size: 4rem;
}

.play-again-button {
  padding: 15px;
  border-radius: 12px;
  background: white;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.play-again-button p {
  font-size: 1.6rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: #171d3f;
}

.play-again-button:hover {
  transform: scale(1.05);
}

@keyframes loser {
  to {
    transform: scale(0.7);
    filter: grayscale(0.8);
  }
}

@keyframes winner {
  to {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.04),
      0 0 0 80px rgba(255, 255, 255, 0.04),
      0 0 0 120px rgba(255, 255, 255, 0.02);
    transform: scale(1.2);
  }
}

@keyframes brainThinking {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0);
  }

  50% {
    box-shadow: 0 0 50px rgba(255, 255, 0, 0.555);
  }

  100% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0);
  }
}
